<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="{{ path_for('home')}}">RawPHP</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-right">
                
                {% if auth.check %}
                <li class="dropdown open">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ auth.user.first_name }} {{ auth.user.last_name }} <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="">My Profile</a></li>
                    <li><a href="">My Account</a></li> 
                    <li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                     <li><a href="{{ path_for('auth.signout')}}">Logout</a></li>
                  </ul>
                </li> 
                
                {% else %}
                 <li><a href="{{ path_for('auth.signup')}}">Signup</a></li>
                 <li><a href="{{ path_for('auth.signin')}}">Signin</a></li>
                
                {% endif %}
                <li><a href="#fakelink">About Us</a></li>
               </ul>
               <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </nav>