{% extends 'templates/app.twig' %}

	{% block content %}
<div class="row">
	<div class="col-md-10">
		<div id="rolelist">
			<div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">Create new role</h3>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            <div class="panel-body">
                <div class="login-form" >
          <form action="{{ path_for('roles.add') }}" method="post" autocomplete="off"> 
            <div class="form-group {{ errors.name ? 'has-error' : '' }}">
              <input type="text" class="form-control login-field"  name="name" placeholder="Enter role name" >
              <label class="login-field-icon fui-user" for="name"></label>
              {% if errors.name %}
              	<span class="help-block">{{ errors.name | first }}</span>
              {% endif %}
            </div>

              <div class="form-group {{ errors.description ? 'has-error' : '' }}">
              <input type="text" class="form-control login-field"  name="description" placeholder="Enter description" >
              <label class="login-field-icon fui-edit" for="description"></label>
              {% if errors.description %}
              	<span class="help-block">{{ errors.description | first }}</span>
              {% endif %}
            </div>
            
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            
             {{ csrf.field | raw }}
            </form>
          </div>
            </div>
            
        </div>
        
       </div>
    </div>
    </div>
    </div>
{% endblock %}
